body {
  height:100%;
  width:100%;
  margin:0;
  background-image: url('../img/bg5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(77, 72, 66);
  overflow-y: scroll;
}

.hidden {
  display:none;
}

.left-column {
  position:fixed;
}

.form {
  margin-top:50px;
  padding: 30px;
  border-top: 2px solid rgb(137, 172, 140);
  /*border-right: 2px solid rgb(137, 172, 140);*/
}

.form input {
  font-family: 'Julius Sans One', sans-serif;
  font-size:20px !important;
  padding: 25px !important;
  margin-bottom:10px;
  color: rgb(137, 172, 140);
}

.btn {
  border-radius:10px;
  font-family: 'Julius Sans One', sans-serif;
  border: 2px solid rgb(137, 172, 140);
  background-color: white;
  outline:none;
  color:rgb(137, 172, 140);
  text-overflow: ellipsis;
}

#updateStudentInfo, #removeStickers, #removeStudent, #displayStudentList {
  margin-top:10px;
  padding:20px;
  font-size:20px;
}

#pickStudent, #startOver {
  margin-top:30px;
  padding:20px;
  font-size:30px;
}

.btn:hover, .btn:active, .btn::selection, .btn:checked, .btn:default, .btn:disabled {
  font-weight:bold;
}

ol {
  position:absolute !important;
  margin-top:30px;
  margin-bottom:30px;
}

ol li {
  padding: 30px 10px;
  margin-bottom:20px;
  background-image: url('../img/raffleticket.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size:40px;
  font-family: 'Indie Flower', cursive;
  color:white;
}

#studentList {
  position: absolute;
  z-index: 10;
  background-color: white;
  border-left: 5px solid rgb(137, 172, 140);
}

@media (max-width: 770px) {
  .left-column {
    position:relative !important;
  }
  .form {
    border:none;
  }
  ol {
    position:relative !important;
  }
  #pickStudent {
    margin-top:0px;
  }
  .btn {
    font-size:25px !important;
  }
  #startOver {
    margin-bottom:50px;
  }
}

@media (max-width:1030px) {
  #pickStudent, #startOver, #updateStudentInfo, #displayStudentList {
    font-size:18px;
  }
}
